img{
    width: 350px;
    
}
.img0{
    border-radius: 60%;
}
#img1{
    opacity: 0.5;
}
h1{
    color:darkslateblue;
    font: size 50px;;
    font: weight 600px;;    
}
h2{
    color: rgb(11, 10, 94);
}
span{
    color: rgb(56, 223, 129);
}
button{
    background-color: rgb(59, 59, 219);
    border-radius: none;
    color: beige;
    padding: 10px 10px ;
    margin: 15;
}
button{
    background-color: #e42de4;
    margin: 6px;
}


.cub0{
    width: 80px;
    height: 80px;
    background-color: rgb(14, 53, 194);
    border-radius: 18px;
    margin: 15px;
}

.cub1{
    width: 90px;
    height: 90px;
    background-color:blueviolet;
    border-radius: 60px;
    margin: 15px;
}